<a href="https://colab.research.google.com/github/Anirudh-SK2808/ML/blob/main/PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data Loading
import pandas as pd
wine_data_path = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQDVwxneOKOaJL13QMhkAhYrgWlH1tICY7RacUnj_lL8m9uUWaaUf3p7bScNyh_D2Rvt7nc1q11adSy/pub?gid=647503637&single=true&output=csv"
wine = pd.read_csv(wine_data_path)
wine.head(1)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6

In [ ]:
wine.isna().sum()

type                     0
fixed acidity           10
volatile acidity         8
citric acid              3
residual sugar           2
chlorides                2
free sulfur dioxide      0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64

In [ ]:
wine.duplicated().sum()
wine1=pd.read_csv(wine_data_path)
wine1.drop_duplicates(inplace=True)
wine1.duplicated().sum()

0

In [ ]:
wine1.dropna(inplace=True)
wine1.isna().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [ ]:
X=wine1.drop("type",axis=1)
Y=wine1["type"]

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)
l=PCA(n_components=5)
X_train_trf=l.fit_transform(X_train)
X_test_trf=l.transform(X_test)

In [ ]:
knn=KNeighborsClassifier()
knn.fit(X_train_trf,Y_train)
y_pred=knn.predict(X_test_trf)
accuracy_score(Y_test,y_pred)
from sklearn.model_selection import cross_val_score
import numpy as np
np.mean(cross_val_score(KNeighborsClassifier(n_neighbors=100),X_train_trf,Y_train,scoring='accuracy',cv=5))

0.9839455570158829